*.class
*.jar
*.aux
*.synctex.gz
*.log
*Example*.java
src/*
temp/*
image/*
.classpath
.project
filter_src/Colorfilter.java
filter_src/ImageAdder.java
readme_*.txt
ITB-Manual_*.pdf
*.mf
nbproject/
build.xml
build/
dist/
*.bat
